<h1>Toast</h1>
<div>
    <a href="#home">Go home</a>
    <div id="divToastForm" class="apc-form">
		<div class="apc-select apc-sm">
			<select>
				<option value="">Please select...</option>
				<option value="error">Error</option>
				<option value="warn">Warning</option>
				<option value="info">Information</option>
				<option value="success">Success</option>
			</select>
			<label for="field_3bdb" class="apc-label">Type</label>
		</div>
		<div class="apc-spacer apc-lg">&nbsp;</div>
		<div class="apc-field apc-xl">
			<input type="text">
			<label for="field_f2b7" class="apc-label">Message</label>
		</div>
		<div class="apc-check apc-sm">
			<input type="checkbox">
			<label for="field_6940" class="apc-label">Include a title</label>
		</div>
		<div class="apc-field apc-lg">
			<input type="text">
			<label for="field_560d" class="apc-label">Title</label>
		</div>
		<div class="apc-break apc-md">&nbsp;</div>
		<div class="apc-button-bar">
			<button id="btn_05ed" class="apc-button">Create Toast</button>
		</div>
	</div>
</div>