@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');

:root {
	--samples-bg-color: #ffffff;
	--samples-primary-dark: #2b4c8b;
	--samples-primary-light: #456daa;
	--samples-secondary-dark: #524365;
	--samples-secondary-light: #5A5387;
	--samples-accent: #42ccc8;
	--samples-primary-dark-text-color: #fefefe;
  }

* {
	font-family: 'Cabin', sans-serif;
    font-weight: 400;
}

body {
    margin: 0;
    background-color: var(--samples-bg-color);
}

/* Navigation bar */
nav {
    background-color: var(--samples-primary-dark);
    color: var(--samples-primary-dark-text-color);
	height: 60px;
}
nav * {
	line-height: 60px;
}
nav h1 {
	font-weight: 300;
	font-size: 1.6rem;
	margin: 0 40px 0 0;
}
nav a {
	color: #ffffff;
	text-decoration: none;
}
nav > .apc-container {
    padding-left: 20px;
	padding-right: 20px;
	display: flex;
	flex-direction: row;
}

.top-menu {
	flex-grow: 1;
	display: flex;
}
.top-menu > div {
	margin-left: 10px;
	margin-right: 10px;
}

/* Top element to provide the main layout for the page content */
.apc-container {
	box-sizing: border-box;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
main.apc-container {
	padding: 20px 20px;
}

/* Text highlighted with the primary color */
.apc-primary-text {
	color: var(--samples-primary-light);
}

/* Hero container */
.apc-hero {
	width: 100%;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap-reverse;
	margin-left: auto;
	margin-right: auto;
}
.apc-hero > div {
	box-sizing: border-box;
	flex-basis: 0;
	flex-grow: 1;
	flex-shrink: 1;
}

/* Content inside a hero */
.apc-hero > .apc-content {
	flex: none;
	justify-content: flex-start;
	align-items: flex-start;
}
/* Header content inside a hero */
.apc-hero > .apc-content > .apc-header {
	padding-bottom: 30px;
	vertical-align: top;
    font-weight: 500;
}
/* Main content inside a hero */
.apc-hero > .apc-content > .apc-body {
	padding-bottom: 30px;
}
/* Footer content inside a hero */
.apc-hero > .apc-content > .apc-footer {
	padding-top: 10px;
	padding-bottom: 20px;
}

/* Container with the image inside a hero */
.apc-hero > .apc-image {
	font-size: 0;
}
.apc-hero > .apc-image img {
	width: 100%;
}

/* Image with rounded corners */
.apc-image-frame {
	border: none;
}
.apc-image-frame > img {
	display: block;
	width: 100%;
	height: 100%;
}

/* Specific hero styles for the main page */
.apc-main-hero > .apc-content {
	padding-right: 20px;
}
.apc-main-hero .apc-body {
	color: #5a5a5a;
}
.apc-main-hero > .apc-image {
	margin: 0 0 20px 20px;
}
.apc-main-hero .apc-image-frame {
	border-radius: 20px;
	overflow: hidden;
}

@media (max-width: 520px) {
	.apc-container {
		width: 100%;
	}
	.apc-hero > .apc-content {
		padding-top: 0;
		width: 100%;
	}
	.apc-hero > .apc-content > .apc-header {
		font-size: 2.5rem;
	}
	.apc-hero > .apc-content > .apc-body {
		font-size: 1.3rem;
	}
}
@media (min-width: 521px) {
	.apc-container {
		width: 100%;
	}
	.apc-hero > .apc-content {
		flex: none;
		width: 66%;
	}
	.apc-hero > .apc-content > .apc-header {
		font-size: 2.3rem;
	}
	.apc-hero > .apc-content > .apc-body {
		font-size: 1.2rem;
	}
}
@media (min-width: 720px) {
	.apc-hero > .apc-content > .apc-header {
		font-size: 2.5rem;
	}
	.apc-hero > .apc-content > .apc-body {
		font-size: 1.3rem;
	}
}
@media (min-width: 1080px) {
	.apc-hero > .apc-content > .apc-header {
		font-size: 3.5rem;
	}
	.apc-hero > .apc-content > .apc-body {
		font-size: 1.6rem;
	}
}
@media (min-width: 1366px) {
	.apc-container {
		width: 1300px;
	}
}
@media (min-width: 1980px) {
}